<header>
  <div class="container">
    <div class="row alignStart">
      <div class="col colLeft justifyCenter">
        <h1 class="mr-lg-auto">Shoe store</h1>
      </div>
      <div class="col colRight justifyCenter">
        <p class="user">{{currentUser}}</p>
        <div class="cartWrapper">
          <mat-icon class="icon" mat-list-icon>shopping_cart</mat-icon>
          <span class="cartItems">{{amountOfItems}}</span>
          <span class="cartValue">{{totalValue}} &#8372;</span>
        </div>
      </div>

    </div>
  </div>
</header>