<div class="layaut">
  <section>
    <h3>The most popular sneakers</h3>
    <ul class="catalogGrid">
      <li class="catalogGridElement" *ngFor="let item of (offerList | sortingItems: pipeState.category : pipeState.order)">
        <mat-card class="card">
          <mat-card-header class="cardHeader">
            <mat-card-title class="label">{{item.manufacturer}}</mat-card-title>
            <mat-card-subtitle>ID: {{item.vendorCode}}</mat-card-subtitle>
          </mat-card-header>
          <a href="">
            <img mat-card-image [src]="item.picture" alt="">
          </a>
          <mat-card-content>
            <p class="textCenter">
              <span class="itemDescription">Color: {{item.color}}</span>
              <br>
              <span class="itemPrice">Price: {{item.price}}</span>
            </p>
          </mat-card-content>
          <mat-card-actions class="textCenter actionFild">
            <button mat-raised-button color="accent" (click)="addToCart(item)" *ngIf="!isOrdered(item.vendorCode)">Add to
              cart</button>
            <button mat-button routerLink="/main/cart" *ngIf="isOrdered(item.vendorCode)">In cart</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </section>
  <aside>
    <div class="sideBarBlock">
      <div class="sideBarBlockInner">
        <p class="sideBarName">Sorting methods</p>
        <form class="filterForm">
          <label class="placeholder">Manufacturer:
            <select #stateManufacturer (change)="changePipeOrder('manufacturer', stateManufacturer.value)">
              <option *ngFor="let option of matStrOption" [value]="option.value">{{option.viewValue}}</option>
            </select>
          </label>

          <label>Price:
            <select #statePrice (change)="changePipeOrder('price', statePrice.value)">
              <option *ngFor="let option of matNumberOption" [value]="option.value">{{option.viewValue}}</option>
            </select>
          </label>

          <label>Color:
            <select #stateColor (change)="changePipeOrder('color', stateColor.value)" placeholder="Color">
              <option *ngFor="let option of matStrOption" [value]="option.value">{{option.viewValue}}</option>
            </select>
          </label>
        </form>
      </div>
    </div>
  </aside>
</div>