<div class="container">
  <div class="row">
    <div class="formWrapper">
      <form (ngSubmit)="resetPassword()" class="mainForm" [formGroup]="newPasswordForm">
        <p class="text-center">Please create a password</p>
        <mat-form-field>
          <input type='password' matInput placeholder="New password" formControlName="password" >
          <div *ngIf="f.password.errors" class="invalid-feedback">
              <div *ngIf="touched && f.passwordCheck.errors.required">Password is required</div>
              <div *ngIf="touched && f.passwordCheck.errors.mustMatch">Password must be at least 8 characters</div>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Repeat password</mat-label>
          <input type='password' matInput placeholder="Confirm pass" formControlName="passwordCheck">
          <div *ngIf="f.passwordCheck.errors" class="invalid-feedback">
              <div *ngIf="touched && f.passwordCheck.errors.required">Confirm Password is required</div>
              <div *ngIf="touched && f.passwordCheck.errors.mustMatch">Passwords must match</div>
          </div>
        </mat-form-field>
        <button type="submit" [disabled]="newPasswordForm.invalid" mat-raised-button color="primary">Create
          password</button>
        <!-- <mat-error *ngIf="newPasswordForm.get('password').errors?.minlength">
                Please enter a valid password
            </mat-error> -->
      </form>
    </div>
  </div>
</div>