<div class="container">
  <div class="row alignCenter justifyCenter h100">
    <div class="formWrapper">
      <form (ngSubmit)="login()" class="mainForm" [formGroup]="loginForm">
        <p class="textCenter">Please, enter authorization data</p>
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginForm.get('email').errors?.email || loginForm.get('email').errors?.required">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" formControlName="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginForm.get('password').errors?.required">
            Password required!
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').errors?.pattern">
            Password must contain at least 8 characters, including uppercase/lowercase letters, numbers and signs.
          </mat-error>
        </mat-form-field>
        <button type="submit" [ngClass]="{'mt': loginForm.get('password').errors?.pattern}"
          [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
        <p class="textCenter">
          <a routerLink="/auth/reset-password">
            For change password follow this link.
          </a>
        </p>
      </form>

    </div>
  </div>
</div>