body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 5px 0 5px;
}

div {
  box-sizing: border-box;
}

.container {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #a1c9b5;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.dFlex {
  display: flex !important;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.h100 {
  height: 100vh;
}

.optimumHeight {
 min-height: calc(100vh - 156px);
}

.mainForm {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: #298883;
}

.textCenter {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.infotmer {
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  color: #f8e89e;
  font-family: 'Timmana', sans-serif;

}

.butonsText {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: 'Carter One', cursive;
  width: 60vw;
  margin: 0 auto;
}

@media (min-width: 250px) {
  .formWrapper {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 5px;
  }

  .mainForm {
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .formWrapper {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
  }

  .mainForm {
    padding: 15px;
  }

  .optimumHeight {
    min-height: calc(100vh - 100px);
   }
}
